.vs/rim-twitch/v15/*
toolkitcore/obj/*
.vs/toolkit-core/v15/.suo
.vs/toolkit-core/v15/Server/sqlite3/db.lock
.vs/toolkit-core/v15/Server/sqlite3/storage.ide
.vs/toolkit-core/v15/Server/sqlite3/storage.ide-shm
.vs/toolkit-core/v15/Server/sqlite3/storage.ide-wal
