
.vs/rim-twitch/v15/.suo
.vs/rim-twitch/v15/Server/sqlite3/db.lock
.vs/rim-twitch/v15/Server/sqlite3/storage.ide
.vs/rim-twitch/v15/Server/sqlite3/storage.ide-shm
.vs/rim-twitch/v15/Server/sqlite3/storage.ide-wal
rim-twitch/obj/Release/ToolkitCore.csproj.FileListAbsolute.txt
rim-twitch/obj/Release/ToolkitCore.dll
rim-twitch/obj/Release/ToolkitCore.csproj.FileListAbsolute.txt
rim-twitch/obj/Release/ToolkitCore.csproj.CoreCompileInputs.cache
rim-twitch/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
rim-twitch/obj/Release/ToolkitCore.dll
rim-twitch/obj/Release/ToolkitCore.csproj.FileListAbsolute.txt
rim-twitch/obj/Release/ToolkitCore.csproj.CoreCompileInputs.cache
rim-twitch/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
rim-twitch/obj/Release/ToolkitCore.dll
